<div class="vue-controls-incrementer" entityId="{{ entity_id }}" fieldValue="{{ field_value }}" fieldName="{{ field_name }}" bundle="{{ bundle }}">
  <div>
    <span>{{ field_label }}</span>
  </div>
  <div>
    <span>${ field_value }</span>
  </div>
  <div>
    <span @click="decreaseValue">-</span>
    <span @click="increaseValue">+</span>
  </div>
</div>

